@import '../../assets/scss/varabels.scss';
.setting {
    padding: 24px;

    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 140%;
        margin-bottom: 24px;
    }

    &__block {
        display: flex;
        width: 100%;
        
        &-route{
            flex: 2;
            margin-left: 24px;
            background: $dark-color;
            border-radius: 8px;
        }
    }

}